{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css'%}">
</head>
<body>
    <center>
        <h1>Specific Static Folder</h1>
        <img src="{% static 'images/v4.jpg' %}" alt="No Image" height="300px" width="300px">
        <img src="{% static 'images/r1.jpg' %}" alt="No Image" height="300px" width="300px">
    </center>
</body>
</html>